@import '../abstract/mixin';
.register__bg {
  background-image: url("../../images/register.jpg");
  width: 100%;
  height: calc(100vh - 8rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint(mobile) {
    width: 0;
    height: 0;
  }
  @include breakpoint(tablet) {
    width: 0;
    height: 0;
  }
}


